
p {
    color: rgb(16, 14, 151);
    text-align: center;
  } 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f2f5;
    font-family: sans-serif;
    font-size: large;
  }

  li {
    float: left;
  } 

  li a {
    display: block;
    color: rgb(33, 30, 156);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  li a:hover {
  background-color: #f0f2f5;
  }
  
  body {
      margin: auto;
      padding: auto;
      background-color: #f0f2f5;
      font-family: sans-serif;

      
  }
  
  .loginbox {
    
    
      background: rgb(255, 255, 255);
      color: rgb(59, 32, 211);
      border-radius: 2%;
      box-sizing: border-box;
      padding: 70px 30px
      
      
      
      
      
      
  }
  
  .avatar {
      width: 160px;
      height: 160px;
      border-radius: 6%;
      
 
  }
  
  h1 {
      margin: 0;
      padding: 0 0 20 px;
      text-align: center;
      font-size: 22px;
  }
  
  .loginbox p {
      margin: 0;
      padding: 0;
      font-weight: bold;
  }
  
  .loginbox input {
      width: 100%;
      margin-bottom: 20px;
  }
  
  .loginbox input[type="text"],
  input[type="password"] {
      border: none;
      border-bottom: 1px solid rgb(93, 38, 196);
      background: transparent;
      outline: box;
      height: 40px;
      color: rgb(0, 0, 0);
      font-size: 18px;
  }
  
  .loginbox input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #1877f2;
      color: white;
      font-size: 18px;
      border-radius: 6px;
  }
  
  .loginbox input[type="submit"]:hover {
      cursor: pointer;
      background: #2007ff;
      color: rgb(36, 51, 100);
      
  }
  
  .loginbox a {
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: rgb(46, 61, 194);
  }
  
  .loginbox a:hover {
      color: #bb992b;
  }




div.row
{
    position: center;
    margin:   20%;

}


.navbar {
    position: static;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: rgb(255, 255, 255);
    color: white;
    direction: ltr;
    line-height: 1.34;
    display: block;
    font-size: small;
    justify-content: center;
    align-items: center;
    float: Bottom;

    
  }

.small
{
    width: 200px;
    height: 65px;

}

.slog
{
    width: 165px;
    height: 250px;
    background: rgb(255, 255, 255);
    color: rgb(59, 32, 211);
    border-radius: 2%;
    box-sizing: border-box;
    padding: 70px 30px

}
#q123
{
    width: 200px;
    height: 40px;
    


}
.notification {
    background-color: rgb(255, 255, 255);
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
.notification:hover {
    background: rgb(255, 255, 255);
  }
  
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
h3{
      color:rgb(0, 0, 0);
      justify-content: center;
      align-items: center;
      position: static;
  }
#container
{
    display: flex;
    flex-wrap: wrap;
    border-radius: 6%;

    

}
