
p {
    color: rgb(16, 14, 151);
    text-align: center;
  } 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f2f5;
    font-family: sans-serif;
    font-size: large;
  }

  li {
    float: left;
  } 

  li a {
    display: block;
    color: rgb(33, 30, 156);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  li a:hover {
  background-color: rgb(34, 114, 168);
  }
  
  body {
      margin: 0;
      padding: 0;
      background-color: #f0f2f5;
      font-family: sans-serif;
  }
  
  .loginbox {
      width: 350px;
      height: 420px;
      background: rgb(255, 255, 255);
      color: rgb(59, 32, 211);
      border-radius: 6%;
      box-sizing: border-box;
      padding: 70px 30px
      
      
  }
  
  .avatar {
      width: 160px;
      height: 160px;
      border-radius: 6%;
 
  }
  
  h1 {
      margin: 0;
      padding: 0 0 20 px;
      text-align: center;
      font-size: 22px;
  }
  
  .loginbox p {
      margin: 0;
      padding: 0;
      font-weight: bold;
  }
  
  .loginbox input {
      width: 100%;
      margin-bottom: 20px;
  }
  
  .loginbox input[type="text"],
  input[type="password"] {
      border: none;
      border-bottom: 1px solid rgb(93, 38, 196);
      background: transparent;
      outline: box;
      height: 40px;
      color: rgb(0, 0, 0);
      font-size: 18px;
  }
  
  .loginbox input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #1877f2;
      color: white;
      font-size: 18px;
      border-radius: 6px;
  }
  
  .loginbox input[type="submit"]:hover {
      cursor: pointer;
      background: #2007ff;
      color: rgb(36, 51, 100);
      
  }
  
  .loginbox a {
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: rgb(46, 61, 194);
  }
  
  .loginbox a:hover {
      color: #bb992b;
  }




div.row
{
    position: center;
    margin:   0px;
    padding: 100px;

}


.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
  }

.small
{
    width: 200px;
    height: 65px;

}

.slog
{
    width: 220px;
    height: 300px;
    background: rgb(255, 255, 255);
    color: rgb(59, 32, 211);
    border-radius: 6%;
    box-sizing: border-box;
    padding: 70px 30px

}
